body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#squarecnter {
    border: 2px solid grey;
    padding: 12px 0px 12px 12px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
}